<!-- 
    Hi {{user}}! Welcome to {{title}} project! 
    <ul>
      <li *ngFor="let product of products">{{product.productId}} - {{product.productName}}</li>
    </ul> -->

<!--Angular'ın devreye girmesi için {{}} yapısı kullanılmalıdır.-->
<!--ngFor => Directive (Loop)-->
<!--ngFor built-in bir directivedir. Angular da biz kendi directivelerimizi yazabiliriz.-->
<!--Directive => İlgili html elementini manüpule et-->
<!------------------------------------------------------------------------------->

<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <app-product></app-product>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>